SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_SECRET_KEY=COLE_A_SECRET_KEY_AQUI
SUPABASE_PUBLISHABLE_KEY=COLE_A_PUBLISHABLE_KEY_AQUI
SUPABASE_JWKS_URL=https://SEU-PROJETO.supabase.co/auth/v1/.well-known/jwks.json
